{% extends 'main/layout.html' %}

{% block title %}
<title>Books</title>
{% endblock %}


{% block content %}

<div class="container-fluid">
    <h1 class="bd-title" id="content">Books</h1>
</div>
<div class="container-fluid">
    <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6 .col-lg-8 .col-xl-8 g-10">
        {% for book in books %}
        <div class="cols">
            <div class="card h-100">
                <img src="{{book.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{book.name}}</h5>
                </div>
                <div class="card-footer">
                    <a href="{% url 'main:details' book.id %}" class="btn btn-primary">Reviews</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}