{% extends 'main/layout.html' %}

{% block title %}
<title>Details</title>
{% endblock %}


{% block content %}
<div class="container-fluid" style="width:50%">
    <br>
    <div class="col">
        <div class="card mb-3">
            <div class="row g-3">
                <div class="col-md-4">
                    <img src="{{catalog_item.image.url}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{catalog_item.name}}</h3>
                        <h5 class="card-text"><small class="text-muted"><i>{{catalog_item.group}}</i></small></h5>
                        <p class="card-text"><small class="text-muted">Average rating:
                            {{catalog_item.average_rating}}</small></p>
                        <div class="d-flex justify-content-between align-items-center">
                            {% if user.is_authenticated %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-secondary">
                                    <a href="{% url 'main:addreview' catalog_item.id %}"
                                       style="color: black; text-decoration:none">
                                        Write review
                                    </a>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <h4 class="text-center">Reviews</h4>
        {% for review in reviews %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="text-left">{{ review.review_title }}</h5>
                    <h5>{{review.average_star_rating}}<span style="font-size:30px;color:yellow;">&#9733;</span></h5>
                </div>
                <h6 class="text-left">Rating: {{review.rating}}</h6>
                <br>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{% url 'main:reviewdetails' review.id %}"
                       style="color: blue; text-decoration:none">
                        <i>Read</i>
                    </a>
                    {{review.total_likes}} likes
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}