{% extends 'main/layout.html' %}

{% block title %}
<title>Movie details</title>
{% endblock %}

{% block content %}
<div class="container-fluid" style="width:50%">
    <br>
    <div class="col">
        <div class="card mb-3">
            <div class="row g-3">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{catalog_item.name}}</h3>
                        <p class="card-text"><small class="text-muted">{{catalog_item.group}}</small></p>
                        <br>
                        <br>
                        <p class="card-text"><small class="text-muted">Average rating:
                            {{catalog_item.average_rating}}</small></p>
                        <div class="d-flex justify-content-between align-items-center">

                            {% if user.is_authenticated %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-secondary">
                                    <a href="{% url 'main:review' catalog_item.id %}"
                                       style="color: black; text-decoration:none">
                                        Write review
                                    </a>
                                </button>
                            </div>
                            {% endif %}
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <h4 class="text-center">Reviews</h4>
        {% for review in reviews %}
        <div class="card mb-3">
            <div class="card-body">
                <h6 class="text-left">{{ review.user.username }}</h6>
                <small class="text-muted">
                    Rating: {{review.rating}}
                </small>
                <p>{{review.comment}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}