{% extends 'main/layout.html' %}

{% load crispy_forms_tags %}

{% block title %}
<title>Sign up</title>
{% endblock %}

<style>
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

{% block content %}
<div class="container w-50">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Create Account</h2>
            <form action='{% url "main:signup" %}' method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input type="submit" value="Create Account" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}